<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Squada+One&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="./assets/style/all.css" />
    </head>

    <body class="bg-gray-light leading-normal">
        <header class="sticky top-0 z-10 border-b border-black bg-gray-light">
            <div class="container">
                <div class="flex items-center justify-between">
                    <!-- left -->
                    <a href="./index.html" class="grow py-4 xl:py-8" id="logo">
                        <img
                            src="./assets/images/logo.svg"
                            alt="Art NFT"
                            class="h-[18px] xl:h-10"
                        />
                    </a>
                    <!-- right -->
                    <div class="xl:hidden" id="header-right-items">
                        <div class="flex bg-gray-light py-4">
                            <button
                                type="button"
                                class="hidden"
                                id="return-to-header-btn"
                            >
                                <i
                                    class="fa-solid fa-angle-left text-[.75rem]"
                                ></i>
                            </button>
                            <input
                                type="text"
                                name="search"
                                id="search"
                                class="mx-4 hidden w-full grow border-0 bg-transparent text-[14px] text-gray-dark outline-none"
                                placeholder="搜尋作品名稱、藝術家名稱"
                            />
                            <button
                                type="button"
                                class=""
                                id="mobile-search-btn"
                            >
                                <i
                                    class="fa-solid fa-magnifying-glass block"
                                ></i>
                            </button>
                            <button
                                type="button"
                                id="mobile-menu-btn"
                                class="ml-6"
                            >
                                <i class="fa-solid fa-bars block"></i>
                            </button>
                        </div>
                    </div>

                    <!-- right for desktop -->
                    <nav class="hidden xl:flex xl:divide-x xl:divide-black">
                        <label
                            class="xl:border-l xl:border-black xl:px-12 xl:py-10"
                            for="search-item"
                        >
                            <input
                                type="search"
                                id="search-item"
                                name="search-item"
                                placeholder="搜尋作品名稱、藝術家名稱"
                                class="xl:mr-6 xl:min-w-[288px] xl:border-0 xl:bg-gray-light xl:text-gray-dark xl:outline-none"
                            />
                            <button type="button">
                                <i
                                    class="fa-solid fa-magnifying-glass block xl:text-[1.5rem]"
                                ></i>
                            </button>
                        </label>
                        <a
                            href="./explore.html"
                            class="xl:px-12 xl:py-10 xl:font-bold xl:hover:text-primary"
                        >
                            探索
                        </a>
                        <a
                            href="./market-value.html"
                            class="xl:px-12 xl:py-10 xl:font-bold xl:hover:text-primary"
                        >
                            市值
                        </a>
                        <a href="./wallet.html" class="group xl:py-10 xl:px-12">
                            <i
                                class="fa-solid fa-wallet text-[1.5rem] xl:font-bold xl:group-hover:text-primary"
                            >
                            </i>
                        </a>
                    </nav>
                </div>
            </div>

            <nav
                class="absolute top-[calc(100%+1px)] left-0 right-0 hidden bg-white py-6 text-center"
                id="mobile-nav-menu"
            >
                <div class="container">
                    <a
                        href="#"
                        class="block border-b border-black pb-6 font-bold"
                        >探索</a
                    >
                    <a href="#" class="my-6 block font-bold">市值</a>
                    <a
                        href="#"
                        class="block border border-black bg-primary py-3 text-white"
                        >連結錢包</a
                    >
                </div>
            </nav>
        </header>

        <%- contents %>

        <footer class="border-t border-gray-dark text-center">
            <div class="mt-2 h-1 bg-black"></div>
            <div class="container py-6">© ART NFT. All Rights Reserved</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
        <script src="./assets/js/vendors.js"></script>
        <script src="./assets/js/all.js"></script>
    </body>
</html>
