<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Squada+One&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="./assets/style/all.css" />
    </head>

    <body class="bg-gray-light leading-normal">
        <header class="sticky top-0 z-10 border-b border-black bg-gray-light">
            <div class="container">
                <div class="flex items-center justify-between">
                    <a href="./index.html" class="grow py-4 xl:py-8" id="logo">
                        <img
                            src="./assets/images/logo.svg"
                            alt="Art NFT"
                            class="h-[18px] xl:h-10"
                        />
                    </a>
                    <div class="xl:hidden" id="header-right-items">
                        <div class="flex bg-gray-light py-4">
                            <button
                                type="button"
                                class="hidden"
                                id="return-to-header-btn"
                            >
                                <i
                                    class="fa-solid fa-angle-left text-[.75rem]"
                                ></i>
                            </button>
                            <input
                                type="text"
                                name="search"
                                id="search"
                                class="mx-4 hidden w-full grow border-0 bg-transparent text-sm text-gray-dark outline-none"
                                placeholder="搜尋作品名稱、藝術家名稱"
                            />
                            <button
                                type="button"
                                class=""
                                id="mobile-search-btn"
                            >
                                <i
                                    class="fa-solid fa-magnifying-glass block"
                                ></i>
                            </button>
                            <button
                                type="button"
                                id="mobile-menu-btn"
                                class="ml-6"
                            >
                                <i class="fa-solid fa-bars block"></i>
                            </button>
                        </div>
                    </div>

                    <nav class="hidden xl:flex xl:divide-x xl:divide-black">
                        <label
                            class="xl:border-l xl:border-black xl:px-12 xl:py-10"
                            for="search-item"
                        >
                            <input
                                type="search"
                                id="search-item"
                                name="search-item"
                                placeholder="搜尋作品名稱、藝術家名稱"
                                class="xl:mr-6 xl:min-w-[288px] xl:border-0 xl:bg-gray-light xl:text-gray-dark xl:outline-none"
                            />
                            <button type="button">
                                <i
                                    class="fa-solid fa-magnifying-glass block xl:text-[1.5rem]"
                                ></i>
                            </button>
                        </label>
                        <a
                            href="./explore.html"
                            class="xl:px-12 xl:py-10 xl:font-bold xl:hover:text-primary"
                        >
                            探索
                        </a>
                        <a
                            href="./market-value.html"
                            class="xl:px-12 xl:py-10 xl:font-bold xl:hover:text-primary"
                        >
                            市值
                        </a>
                        <button
                            type="button"
                            class="group xl:py-10 xl:px-12"
                            id="wallet-btn"
                        >
                            <i
                                class="fa-solid fa-wallet text-[1.5rem] xl:font-bold xl:group-hover:text-primary"
                            >
                            </i>
                        </button>
                    </nav>
                </div>
            </div>

            <nav
                class="absolute top-[calc(100%+1px)] left-0 right-0 hidden bg-white px-3 py-6 text-center text-lg xl:hidden"
                id="mobile-nav-menu"
            >
                <a
                    href="./explore.html"
                    class="block border-b border-black pb-6 font-bold"
                    >探索</a
                >
                <a href="./market-value.html" class="my-6 block font-bold"
                    >市值</a
                >
                <button
                    type="button"
                    id="mobile-wallet-btn"
                    class="block w-full border border-black bg-primary py-3 text-white"
                >
                    連結錢包
                </button>
            </nav>
        </header>

        <div
            id="wallet-modal"
            class="pointer-events-none fixed inset-0 z-20 -translate-x-full bg-black/[.65] opacity-0 transition-all duration-200 md:grid md:translate-x-0 md:place-items-center"
        >
            <div
                class="flex h-full w-full flex-col bg-white md:h-auto md:max-w-[500px]"
            >
                <div class="flex border-b border-gray-dark px-3 py-4">
                    <p class="ml-auto text-xl leading-none">連結你的錢包</p>
                    <button
                        type="button"
                        class="ml-auto"
                        id="wallet-modal-close-btn"
                    >
                        <i class="fa-solid fa-times"></i>
                    </button>
                </div>
                <div class="flex grow flex-col px-3 pt-6 md:py-6 md:px-4">
                    <ul class="grid gap-2 md:grid-cols-2">
                        <li>
                            <a
                                href="#"
                                class="group grid grid-cols-[auto,1fr,auto] gap-4 border-2 border-gray-dark p-4 transition-colors hover:border-primary"
                            >
                                <img
                                    src="./assets/images/logo/connect01.png"
                                    class="h-4 w-4 object-cover"
                                />
                                <span class="font-squareOne text-tiny">
                                    MetaMask
                                </span>
                                <i
                                    class="fa-solid fa-check text-primary opacity-0 transition-opacity group-hover:opacity-100"
                                ></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="group grid grid-cols-[auto,1fr,auto] gap-4 border-2 border-gray-dark p-4 transition-colors hover:border-primary"
                            >
                                <img
                                    src="./assets/images/logo/connect02.png"
                                    class="h-4 w-4 object-cover"
                                />
                                <span class="font-squareOne text-tiny">
                                    Coinbase Wallet
                                </span>
                                <i
                                    class="fa-solid fa-check text-primary opacity-0 transition-opacity group-hover:opacity-100"
                                ></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="group grid grid-cols-[auto,1fr,auto] gap-4 border-2 border-gray-dark p-4 transition-colors hover:border-primary"
                            >
                                <img
                                    src="./assets/images/logo/connect03.png"
                                    class="h-4 w-4 object-cover"
                                />
                                <span class="font-squareOne text-tiny">
                                    WalletConnect
                                </span>
                                <i
                                    class="fa-solid fa-check text-primary opacity-0 transition-opacity group-hover:opacity-100"
                                ></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="group grid grid-cols-[auto,1fr,auto] gap-4 border-2 border-gray-dark p-4 transition-colors hover:border-primary"
                            >
                                <img
                                    src="./assets/images/logo/connect04.png"
                                    class="h-4 w-4 object-cover"
                                />
                                <span class="font-squareOne text-tiny">
                                    Phantom
                                </span>
                                <i
                                    class="fa-solid fa-check text-primary opacity-0 transition-opacity group-hover:opacity-100"
                                ></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="group grid grid-cols-[auto,1fr,auto] gap-4 border-2 border-gray-dark p-4 transition-colors hover:border-primary"
                            >
                                <img
                                    src="./assets/images/logo/connect05.png"
                                    class="h-4 w-4 object-cover"
                                />
                                <span class="font-squareOne text-tiny">
                                    Glow
                                </span>
                                <i
                                    class="fa-solid fa-check text-primary opacity-0 transition-opacity group-hover:opacity-100"
                                ></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="group grid grid-cols-[auto,1fr,auto] gap-4 border-2 border-gray-dark p-4 transition-colors hover:border-primary"
                            >
                                <img
                                    src="./assets/images/logo/connect06.png"
                                    class="h-4 w-4 object-cover"
                                />
                                <span class="font-squareOne text-tiny">
                                    Fortmatic
                                </span>
                                <i
                                    class="fa-solid fa-check text-primary opacity-0 transition-opacity group-hover:opacity-100"
                                ></i>
                            </a>
                        </li>
                    </ul>
                    <button
                        type="button"
                        class="-mx-3 mt-auto bg-primary py-3 text-lg text-white md:mt-6 md:self-center md:px-12 md:py-2 md:hover:bg-primary/90"
                    >
                        連結錢包
                    </button>
                </div>
            </div>
        </div>

        <%- contents %>

        <footer class="border-t border-gray-dark text-center">
            <div class="mt-2 h-1 bg-black"></div>
            <div class="container py-6">© ART NFT. All Rights Reserved</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="./assets/js/vendors.js"></script>
        <script src="./assets/js/all.js"></script>
    </body>
</html>
