@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Noto Sans TC", sans-serif;
    }

    td {
        @apply p-0;
    }
}

.triangle {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    display: inline-block;
}

.swiper-horizontal > .swiper-pagination-bullets {
    @apply absolute bottom-0 left-1/2 w-auto -translate-x-1/2;
}

.swiper-pagination-bullet {
    @apply mr-2 h-2 w-2 rounded-none bg-black opacity-100;
}

.swiper-pagination-bullet-active {
    @apply w-4 bg-primary;
}

.swiper-backface-hidden .artist-slide,
.swiper-backface-hidden .other-works-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.artist-slide,
.other-works-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.artist-slide-prev,
.artist-slide-next {
    @apply lg:!w-3/12;
}

.artist-slide.artist-slide-active {
    @apply lg:!w-6/12;
}

.artist-slide img {
    @apply h-[232px] lg:h-[262px] lg:[filter:grayscale(100%)];
}

.artist-slide.artist-slide-active img {
    @apply [filter:grayscale(0)] lg:h-[439px];
}

.artist-slide .artist-name,
.artist-slide .artist-description,
.artist-slide .artist-more-btn {
    @apply lg:hidden;
}

.artist-slide.artist-slide-active .artist-name,
.artist-slide.artist-slide-active .artist-description,
.artist-slide.artist-slide-active .artist-more-btn {
    @apply lg:block;
}

.other-works-slide {
    /* @apply !w-1/3; */
}

@layer components {
    .btn-primary {
        @apply bg-white px-12 py-2 text-[18px] leading-none text-black transition-colors hover:bg-primary hover:text-white;
    }

    .btn-outline {
        @apply border border-black;
    }

    .btn-overlay {
        @apply bg-black py-9 px-6 text-white;
    }

    .decoration {
        @apply triangle absolute bottom-0 right-0 h-4 w-4 bg-primary transition-colors;
    }

    .btn-primary:hover .decoration {
        @apply bg-black;
    }
}
