@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Noto Sans TC", sans-serif;
    }
}

.triangle {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    display: inline-block;
}

.swiper-horizontal > .swiper-pagination-bullets {
    @apply absolute bottom-6 left-1/2 w-auto -translate-x-1/2;
}

.swiper-pagination-bullet {
    @apply mr-2 h-2 w-2 rounded-none bg-black opacity-100;
}

.swiper-pagination-bullet-active {
    @apply w-4 bg-primary;
}

.swiper-slide-next,
.swiper-slide-prev {
    @apply lg:!w-3/12;
}

.swiper-slide.swiper-slide-active {
    @apply lg:!w-6/12;
}

.swiper-slide img {
    @apply h-[232px] [filter:grayscale(100%)] lg:h-[262px];
}

.swiper-slide.swiper-slide-active img {
    @apply [filter:grayscale(0)] lg:h-[439px];
}

.swiper-slide .artist-name,
.swiper-slide .artist-description,
.swiper-slide .artist-more-btn {
    @apply hidden;
}

.swiper-slide.swiper-slide-active .artist-name,
.swiper-slide.swiper-slide-active .artist-description,
.swiper-slide.swiper-slide-active .artist-more-btn {
    @apply block;
}

@layer components {
    .btn-primary {
        @apply bg-white px-12 py-2 text-[18px] leading-none text-black transition-colors hover:bg-primary hover:text-white;
    }

    .btn-outline {
        @apply border border-black;
    }

    .btn-overlay {
        @apply bg-black py-9 px-6 text-white;
    }

    .decoration {
        @apply triangle absolute bottom-0 right-0 h-4 w-4 bg-primary transition-colors;
    }

    .btn-primary:hover .decoration {
        @apply bg-black;
    }
}
